@import "../../responsive.scss";


.homepage{
    display: flex;
    height: 100%;
   overflow-y: scroll;
    .textcontainer{
        flex: 3;
        @include md{
          overflow-y: scroll;
        }
        
        
        
        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;
            
            .check{
              width: max-content;
              padding: 10px;
              border-radius: 5px;
              background-color: black;;
              font-weight: bold;
              font-size: 20px;
              color: white;
              cursor: pointer;
              .arrow{
                width: 15px;
                height: 15px;
                transform: rotate(180deg);
              }
            }

            @include lg{
                padding-right: 50px;
              }
        
              @include md{
                padding: 0;
              }
        
              @include sm{
                justify-content: flex-start;
              }

            .title{
                font-size: 54px;
                
        @include lg {
            font-size: 48px;
          }
            }
            .description{
                font-size: 16px;
            }
            .boxes{
                display: flex;
                justify-content: space-between;

                @include sm {
                    display: none;
                  }

                .h1{
                    font-size: 36px;
                    @include lg {
                        font-size: 32px;
                      }
                }
                h2{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }
    .imagecontainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;

        @include md {
            display: none;
          }

        img{
            width: 115%;
            position: absolute;
            right: 0;
            @include lg {
                width: 105%;
                }

            
        }
    }
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.homepage::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.homepage {
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Firefox */
.homepage {
  scrollbar-width: none;  /* Firefox */
}